#monthLabel{
    text-align: center;
}
#add_event{
    width: 50px;
    height: 50px;
    background-color: white;
}

#button_container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 12px 0;
}

#button_container button {
  width: 36px;
  height: 36px;
  border: 1px solid #000;
  background: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.15s, color 0.15s;
}

#button_container button:hover {
  background: #000;
  color: #fff;
}

#weekday-header{
    display: grid;
    grid-template-columns: repeat(7, 120px);
    justify-content: center;
    font-weight: bold;
}

#weekday-header div {
  text-align: center;
}

#calendar-container{
    display: grid;
    grid-template-columns: repeat(7, 120px);
    justify-content: center;

}

.day{
    border: solid;
    border-width: 1px;
    border-color: black;
    width: 120px;
    height: 120px;
    display: grid;
    grid-template-columns: repeat(7, 100px);
    text-align: right;
}
.day:hover{
    background-color: aquamarine;
}

